/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/tmp
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
npm-debug.log
yarn-error.log
/test-results
/storage/playwright-report
/.claude
/.fleet
/.idea
/.nova
/.vscode
/.zed
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/data/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/testing/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
